.container {
    
    background-color: #c00025;
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;

}
.display {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    width: 300px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 17%;
    font-size: 5.0rem;
    
  }
 
  span div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 450px;     
}

.toto {
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
  max-width: 210px;
  max-height: 300px;

}

.lolo {
  display: flex;
  flex-direction: column;
   max-width: 220px;
   max-height: 390px;
   margin-left: 170px;

}

  .buttons {   
  background-color: rgb(25, 134, 206);
  font-size: 1.5rem;
  color: white;
  border: 2px solid black;
  box-shadow: 1px 3px black;
  border-radius: 30px 30px 30px;
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}




/*
  .numberButtons {
    display:flex;
    flex-wrap: wrap;
  
    max-width: 150px;
    max-height: 150px;
  background-color: rgb(25, 134, 206);
  font-size: 1.5rem;
  color: white;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  border-radius: 30px 20px;
  height: 50px;
  width: 60px;
  
  margin-bottom: 15px;
}
*/

/*
.specialButtons {
    background-color: blue;
    font-size: 1.5rem;
    color: white;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    border-radius: 30px 20px;
    height: 50px;
    width: 60px;
    margin-left: 200px;
    margin-bottom: 15px;
  
  } */
 
  /*.operatorButtons {
    background-color: rgb(86, 126, 153);
    font-size: 1.5rem;
    color: white;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    border-radius: 30px 20px;
    height: 50px;
    width: 60px;
    margin-left: 400px;
    margin-bottom: 15px;
  
  }*/